<div class="success">
  <h2>Your tweet was successfully posted! <a target="_blank" href="http://twitter.com/<%= current_user.username %>"><span class="view">View your tweet on Twitter.</a></span></h2>
</div>
