<div class="create">
  <form id='create_tweet' action='/create_tweet' method='POST'>
    <label for='text'>
      <input type='text' name='text'>
    </label>
    <input type='submit' value='submit'>
  </form>
  <h2 id="loading">Loading...</h2>
</div>


